

.orange-button{
    background: linear-gradient(-89.8deg, #fdc107, #fb6d1a);
    width: 138px;
    height:30px;
  
    border-radius: 30px;
    padding:0px 7px;
    display:flex;
    justify-content: flex-end;
    align-items: center;
    gap:20px;
    margin-left:1390px;
    margin-top:-20px;
    overflow:hidden;
   }
.orange-arrow-icon{
    width:20px;
    height:20px;
}

.contact-us1{
    color:var(--white);

}