.footer{
   
    font-weight: 500;
    font-size: 14px;
    flex-direction: row;
    background-color: var(--white);
    width:100%;
    height:40px;
    margin-top: 40px;
   
}


.footerRow{
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;



}

.footerTitle{
    display:flex;
    flex-direction: row;
    gap:44px;
    font-weight: 500;
    font-size: 14px;
    color:var(--NavyZ);
    margin-left: 43px;
    
}

.mediaicon{
    height:25px;
    width:76px;
    margin-right: 20px;
}

.Zenergy{
    font-size: 11px;
    font-weight: 500;
    color:var(--NavyZ)
}
.last{
    display:flex;
    justify-content: flex-end;
    margin-top: 5px;
    margin-right: 20px;
}